<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book List</title>
</head>
<body>
  <h1>Book List</h1>
  <% turtles.forEach(turtle => { %>
    <h2>
      <a href="/turtles/<%= turtle._id %>">
        <%= turtle.name %>
      </a>
      -
      <%= turtle.isNinja ? 'has not been read!' : 'has been read already.' %>
      <form method="POST" action="/turtles/<%= turtle._id %>?_method=DELETE">
        <button>Delete <%= turtle.name %></button>
      </form>
    </h2>

  <% }) %>
</body>
</html>